{% extends base.html %}

{% block main %}
{% if not current_user %}
    <p>Please, <a href="/sign_in">sign_in</a> or <a href="/sign_up">sign_up</a></p>
{% else %}
    <p>Hello, {{ current_user.username }} <a href="/sign_out">sign out</a></p>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" accept="application/pdf" name="filename">
        <input type="submit">
    </form>
    <table>
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>FileName</th>
            <th>PNG List</th>
        </tr>
        {% for row in pdf_list %}
            <tr>
                <td>{{ row['username'] }}</td>
                <td>{{ row['date_created'] }}</td>
                <td><a href="{{ row['pdf_url'] }}" target="_blank">{{ row['pdf_name'] }}</a></td>
                <td>
                    <ul>
                        {% for i, png_name in enumerate(row['png_names']) %}
                            <li><a href="{{ row['png_urls'][i] }}">png_name</a></li>
                        {% end %}
                    </ul>
                </td>
            </tr>
        {% end %}
    </table>
{% end %}
{% end %}
